
:root {
    background-color: rgb(22, 14, 27);
}

.container__col {
    background-color: rgb(48, 43, 68);
    min-height: 90svh;




    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 2rem;
    
    color: rgb(98, 168, 145);
}

.title {
    font-size: calc(1rem + 3vw);
    align-self: center;
}


.pomo_settings {
    display: flex;
    justify-content: center;
    column-gap: 1rem;

    font-size: 2rem;

    
}

.settingCapsule p{
    margin: 0.3rem;
    font-size: calc(0.3rem + 2vw);
    text-align: center;
    font-weight: 600;

}


.pomo__tomato {
    background-color: rgb(141, 0, 0);
    border-radius: 50%;
    width: 10rem;
    min-height: 10rem;
    align-self: center;
    border: solid rgb(58, 10, 10) 1rem;
}
.pomo__tomato:hover{
    background-color: rgb(133, 23, 23);
}
.pomo__tomato.clicked{
    background-color: rgb(226, 225, 225);
}
.timerCount {
    align-self: center;
}


.col__2{
    position: absolute;
    top:5%;
    left: 90%;
    height: 85%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.setting {
    background-color: rgb(41, 12, 7);
    width: calc(0.5rem + 12vw);
    height: 2rem;

    border-radius: 10%;
    /* border: solid rgb(94, 25, 13) 0.2rem; */
    

    text-align: center;
    font-size: 1.7rem;
}
.setting:hover{
    background-color: rgb(42, 39, 49);
    color: rgb(200, 205, 209);
}